* {
    font-family: "Courier New", monospace;
    color: white;
}

body {
    background: #141d24;
}

section {
    /* height: 100vh; */
    /* min-height: 100%; */
    
    
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 55px;
    max-width: 900px;
}

.section-header {
    font-size: 40px;
}

.divider {
    display: inline-block;
	margin: 0px 0px 10px;
	width: 30%;
	height: 1px;
    background-color: #8f4f60;
    top: 50%;
}

* {
    font-family: "Courier New", monospace;
    color: white;
  }
  
  section {
    height: 100%;
  
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 55px;
    /* max-width: 700px; */
  }

/* NAV ------------------------------------------------ */

  
  .nav {
    position: fixed;

    list-style-type: none;
  
    right: 20px;
    margin-right: 20px;
  
    top: 40%;
    display: block;
    background-color: transparent;
  }
  
  #vertical-menu a {
    text-decoration: none;
    float: right;
    position: relative;
    background-color: transparent
  }
  
  .menu-text {
    opacity: 0%;
  }
  
  .circle {
    height: 8px;
    width: 8px;
    padding: 3px;
    background-color: gray;
    opacity: 80%;
    border-radius: 50%;
    float: right;
  
    margin-left: 10px;
    margin-bottom:25px;
  
  }
  
  #vertical-menu a:hover > .menu-text{
    opacity: 100%;
  }
  
  #vertical-menu a:hover .circle{
    padding: 0px;
    height: 18px;
    width: 18px;
  }
  
  li.active .circle {
    background-color: #8f4f60;
  }
  
  /*responsive*/
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 600px){
    .circle {
      display:none;
    }
    .menu-text {
        opacity: 100%;
        left:0;
        position: fixed;
        margin-left: 20px;
    }
    .menu-link:hover, .menu-link:hover > .actual-link, .menu-link:hover > .actual-link *  {
        background-color: #8f4f60;
        color: white;
      }
  
    .nav {
      top:  0;
      right: 0;
      display: block;

      margin-top: 0;
      margin-right: 0;
      padding-right: 10px;

      background: #141d24;
    }

  
    .nav > li {
      padding: 40px;
      display: none;
      width:100%;
      font-size: 20px;

      text-align: left;
    
    }
  
    .menu-icon {
      display: block;
      float: right;
      font-size:40px;
  
      position: fixed;
      right: 0;
      top: 0;
      padding: 10px;
  
    }
  
    .menu-icon > i:hover {
      color: #8f4f60;
    }
  
    .open.nav {
        width: 100%;
    }

    .open li {
      display: block;
    } 
  
    h1 {
        margin-top: 100px;
    }

  }
  
/* links ------------------------------------------------ */

.link, .link:active, .link:visited {
    text-decoration: underline;
	color: white;
}

.link:hover, .link > i:hover, .code-link:hover, .code-link > i:hover {
	color: #8f4f60;
}

.link-button {
    text-decoration: none;
    color: white;

    margin-top: 45px;
    margin-bottom:  45px;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;

	border-style: solid;
    border-width: 3px;
    border-color: #8f4f60;
    border-radius: 3px;

    display: inline-block;
}

.link-button:hover  {
    background-color:rgba(143, 79, 96, .25);   
}

.contact-icons-wrapper {
    padding: 30px;
}

.contact-icon > i{
    padding: 5px;
    font-size: 40px;

}

.contact-icon:hover > i{
    color: #8f4f60;
}

/* project portfolio ------------------------------------------------ */

.project-title {
    font-size: 22px;
}

.project-image {
    width: 75%;

    margin-left: 12%;
}

.project-description {
    display: inline-block;
    background-color: #243542;
    
    padding: 10px;
    margin-top: 20px;

    border: dashed;
    border-width: 1px;
    border-color: white;
}

.project-description > li {
    background-color: none;
}

.code-link > i {
    padding: 5px;
    font-size: 30px;
}

.project-link:hover, .project-link:hover .project-num {
    color: #8f4f60;
    list-style-type: none;
}

.project-num {
    color: gray;
}

.project-link {
    list-style-type: none;
    display: inline;

    border-right: gray;

    margin-right: 10px;
}
.project-link.active-proj-link {
   text-decoration: underline;
}

.project-menu {
    display: inline-block;
    text-align: center;
}

/*only show project if link is clicked*/ 
.project-wrapper {
    display: none;
}

.project-wrapper.active-proj {
    display: block;
}

/* about ------------------------------------------------ */

h1 {
    font-size: 4vw;
}

.intro {
    border-right: 0.08em solid #666;
}

#about-me-content > li,
 #about-me-content > p, 
 #about-me-content > li * {
    padding-top: 10px;
    font-size: 16px;
}

#down-arrow {
    font-size: 30px;
}

/* jobs/timeline ------------------------------------------------ */

.job-title {
    font-size: 22px;
}

.job-location {
    color: #b77b8b;
}
