* {
    font-family: "Courier New", monospace;
    color: white;
}

body {
    background: #141d24;
}

section {
    /* height: 100vh; */
    min-height: 100%;
    
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 55px;
    max-width: 900px;
}

#contact {
  height: 100vh;
}

.section-header {
    font-size: 40px;
}

.divider {
    display: inline-block;
	margin: 0px 0px 10px;
	width: 30%;
	height: 1px;
    background-color: #8f4f60;
    top: 50%;
}

* {
    font-family: "Courier New", monospace;
    color: white;
  }
  
  section {
    height: 100%;
  
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 55px;
    /* max-width: 700px; */
  }

/* NAV ------------------------------------------------ */

  
  .nav {
    position: fixed;

    list-style-type: none;
  
    right: 20px;
    margin-right: 20px;
  
    top: 40%;
    display: block;
    background-color: transparent;
  }
  
  #vertical-menu a {
    text-decoration: none;
    float: right;
    position: relative;
    background-color: transparent
  }
  
  .menu-text {
    opacity: 0%;
  }
  
  .circle {
    height: 8px;
    width: 8px;
    padding: 3px;
    background-color: gray;
    opacity: 80%;
    border-radius: 50%;
    float: right;
  
    margin-left: 10px;
    margin-bottom:25px;
  
  }
  
  #vertical-menu a:hover > .menu-text{
    opacity: 100%;
  }
  
  #vertical-menu a:hover .circle{
    padding: 0px;
    height: 18px;
    width: 18px;
  }
  
  li.active .circle {
    background-color: #8f4f60;
  }
  
  /*responsive*/
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 600px){
    .circle {
      display:none;
    }
    .menu-text {
        opacity: 100%;
        left:0;
        position: fixed;
        margin-left: 20px;
    }
    .menu-link:hover, .menu-link:hover > .actual-link, .menu-link:hover > .actual-link *  {
        background-color: #8f4f60;
        color: white;
      }
  
    .nav {
      top:  0;
      right: 0;
      display: block;

      margin-top: 0;
      margin-right: 0;
      padding-right: 10px;

      background: #141d24;
    }

  
    .nav > li {
      padding: 40px;
      display: none;
      width:100%;
      font-size: 20px;

      text-align: left;
    
    }
  
    .menu-icon {
      display: block;
      float: right;
      font-size:40px;
  
      position: fixed;
      right: 0;
      top: 0;
      padding: 10px;
  
    }
  
    .menu-icon > i:hover {
      color: #8f4f60;
    }
  
    .open.nav {
        width: 100%;
    }

    .open li {
      display: block;
    } 
  
    h1 {
        margin-top: 100px;
    }

  }
  
/* links ------------------------------------------------ */

.link, .link:active, .link:visited {
    text-decoration: underline;
	color: white;
}

.link:hover, .link > i:hover, .code-link:hover, .code-link > i:hover {
	color: #8f4f60;
}

.link-button {
    text-decoration: none;
    color: white;

    margin-top: 45px;
    margin-bottom:  45px;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;

	border-style: solid;
    border-width: 3px;
    border-color: #8f4f60;
    border-radius: 3px;

    display: inline-block;
}

.link-button:hover  {
    background-color:rgba(143, 79, 96, .25);   
}

.contact-icons-wrapper {
    padding: 30px;
}

.contact-icon > i{
    padding: 5px;
    font-size: 40px;

}

.contact-icon:hover > i{
    color: #8f4f60;
}

/* project portfolio ------------------------------------------------ */

.project-title {
    font-size: 22px;
}

.project-image {
    width: 70%;
}

.project-description {
    display: inline-block;
    
    padding: 10px;
    margin-top: 20px;
}

.project-description > li {
    background-color: none;
}

.code-link > i {
    padding: 5px;
    font-size: 30px;
}

.project-num {
    color: gray;
}

.project-menu {
  display: grid;

  grid-template-columns: repeat(auto-fit, 280px);

  grid-gap: 20px;

  max-width: 1100px;
}

.project-square {
  background-color: #1b2731;
  height: 280px;

  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);

  text-align: center;
  display: block;

  border-radius: 4px;
}

.project-square:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-square > .title {
  font-size: 20px;

  margin: 10px;
  margin-top: 60px;
}
 
.project-square > .link {
  font-size: 25px;

  float: right;
  margin: 15px;
}

.project-square  li {
  list-style-type: none;
  padding: 10px;
}

.project-square > .tools {
  font-size: 15px;
  color: gray;
  padding-left: 20px;
  padding-right: 20px;
}

/* only show project if square is clicked... modals............... */ 
/* Reference: https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #141d24;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #8f4f60;
  text-decoration: none;
  cursor: pointer;
}

/* about ------------------------------------------------ */

h1 {
    font-size: 4vw;
}

.intro {
    border-right: 0.08em solid #666;
}

#about-me-content > li,
 #about-me-content > p, 
 #about-me-content > li * {
    padding-top: 10px;
    font-size: 16px;
}

#down-arrow {
    font-size: 30px;
}

/* jobs/timeline ------------------------------------------------ */

.job-title {
    font-size: 22px;
}

.job-location {
    color: #b77b8b;
}
