#header {
	margin-top: -20px;
	height: 100%;

	height: 100vh;
	width: 100%;

	background: rgba(246,168,156,1);
	background: -moz-linear-gradient(left, rgba(246,168,156,1) 0%, rgba(246,168,156,1) 8%, rgba(248,89,68,1) 83%, rgba(237,102,90,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,168,156,1)), color-stop(8%, rgba(246,168,156,1)), color-stop(83%, rgba(248,89,68,1)), color-stop(100%, rgba(237,102,90,1)));
	background: -webkit-linear-gradient(left, rgba(246,168,156,1) 0%, rgba(246,168,156,1) 8%, rgba(248,89,68,1) 83%, rgba(237,102,90,1) 100%);
	background: -o-linear-gradient(left, rgba(246,168,156,1) 0%, rgba(246,168,156,1) 8%, rgba(248,89,68,1) 83%, rgba(237,102,90,1) 100%);
	background: -ms-linear-gradient(left, rgba(246,168,156,1) 0%, rgba(246,168,156,1) 8%, rgba(248,89,68,1) 83%, rgba(237,102,90,1) 100%);	
	background: linear-gradient(to right, rgba(246,168,156,1) 0%, rgba(246,168,156,1) 8%, rgba(248,89,68,1) 83%, rgba(237,102,90,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6a89c', endColorstr='#ed665a', GradientType=1 );3,1) 82%, rgba(231,56,39,1) 100%);

}

h1, h2, h4 {
	text-align:center;
}

.title {
	padding-bottom: 20px;
}

.centered {
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 50%;
	width: 100%;

	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
}

#me {	
	color: white;
}

#name {
	font-family: 'Herr Von Muellerhoff', cursive;
	font-size: 25vh;
}

#me-description {
	font-size: 3vh;
}

.scroll-down {
	width: 100%;

	position: absolute;
	bottom: 3vh;
	left: 50%;
	transform: translateX(-50%);

	color: white;	
	background: none;
	border: none;
	padding: 5px;
}

.scroll-down:link {
    text-decoration: none;
}

.scroll-down-text {
	visibility: hidden;
}

.scroll-down:hover, .scroll-down:link, .scroll-down:active, .scroll-down:visited{
	color: white;
}

.scroll-down:hover .scroll-down-text {
	visibility: visible;
}